*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "freight big pro";
}

html,body{
    height: 100%;
    width: 100%;

}
#loader{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    /* display: none; */
}
#yellow1{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 8;
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 7;
}
#loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
#loader h1{
    font-size: 4.9vw;
    font-weight: 100;
    line-height: 4vw;
    letter-spacing: -2px;
    position: relative;
    z-index: 9;
}

#nav{
    position: absolute;
    width: 100%;
    padding: 20px 50px;
    z-index: 10;
}

#nav svg path{
    fill:#000
}
#main{
    background-color: black;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page1 h1{
    font-size: 4.9vw;
    font-weight: 100;
    line-height: 4vw;
    letter-spacing: -2px;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.elem{
    width: 100%;
    position: relative;
}

.elem h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    z-index: 9;
    line-height: 5vw;
    cursor: pointer;

}

.elem:hover h2{
    font-style: italic;
}

.elem .moving{
    background-color: #f5e41b;
    width: 100%;
    white-space: nowrap;
    padding: 2px 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%) scaleY(0);
    transition: all ease 0.3s;
    overflow: hidden;

}
.elem .moving .blur{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right,#f5e31bf6,#f5e41b,#f5e31bf6);
    box-shadow: 10px 0 20px 20px #f5e41b,-10px 0 10px 20px #f5e41b;
    transform: translate(-50%,-50%);
    z-index: 8;
}
.elem:hover .moving{
    transform: translate(0,-50%) scaleY(1);

}


.elem .moving .moving-in{
    white-space: nowrap;
    display: inline-block;
    animation-name: moving;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.elem .moving .moving-in h5{
    color: black;
    display: inline-block;
    font-family: "freight big pro";
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 300;
    font-size: 12px;
    transition: all ease 0.3s;
    transition-delay: 0.2s;
    opacity: 0;
    
}
.elem:hover .moving h5{
    opacity: 1;

}

@keyframes moving {
    from{
        transform: translateX(0);;
    }
    to{
        transform: translateX(-100%);
    }
}








/* page 3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: white;
}

.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-div{
    width: 28vw;
    /* background-color: red; */
    position: relative;
    overflow: hidden;
    margin: 40px 20px;


}
.overlay{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    opacity: 0;
    transition: all ease 0.5s;
    z-index: 9;

}
.overlay p{
    text-transform: uppercase;
    font-size: 1.8vw;
    text-align: center;
    color: white;
    line-height: 1.7vw;
    opacity: 0;
    transition: all ease 0.5s;

}
.image-div:hover .overlay , .overlay p{
    opacity: 1;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;

}

.image-div:hover img{
    scale: 1.1;
}



#footer{
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border-top: 10px solid white;
}

#footer #foot{
    height: 50%;
    width: 100%;
    background-color: black;
}

#footer h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}